<!DOCTYPE html>
<html  ng-app="fullnameapp">
<head>
    <title>Angular js full name app</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"> </script>
</head>
<body ng-controller="fullnamectrl">
    <h2>enter your full name</h2>
    <label for="firstname">First Name</label>
    <input type="text" ng-model="firstname" placeholder="Enter your first name">
    <label for="lastname">Last Name</label>
    <input type="text" ng-model="lastname" placeholder="Enter your last name">
    <br>
    <button ng-click="displayfullname()">Display full name</button>
    <br>
    <p ng-show="fullname">Your full name: {{ fullname }}</p>
    <script>
    var app=angular.module('fullnameapp',[]);
    app.controller('fullnamectrl', function ($scope){
        $scope.firstname = 'John';
        $scope.lastname = 'Doe';
        $scope.displayfullname = function (){
        $scope.fullname = $scope.firstname + ' ' + $scope.lastname;
        };
    });

</script>
</body>
</html>